# Entorno virtual
venv/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3
/staticfiles/
media/

# Logs
logs/
*.log

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
